// strtable.rc - resources Microsoft Visual C++ does not edit directly

#ifdef APSTUDIO_INVOKED
    #error this file is not editable by Microsoft Visual C++
#endif //APSTUDIO_INVOKED

#include "strtable.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(65001) // UTF-8

STRINGTABLE
BEGIN
    IDS_NO_RECURSIVE_BUILDLIB "You cannot create the current project as a Build Library of itself."
    IDS_INCLUDE_DIR_TITLE    "Include Directory"
    IDS_TARGET_DIRECTORY_TITLE  "Target directory"
    IDS_MAKEFILE_HELP_MSG       "creates a makefile that doesn't require ttBld.exe"
    IDS_MAKEFILE_EXISTS         "-makefile cannot be used if the makefile already exists"
    IDS_MISSING_MAKEFILE_DIR    "Directory for makefile doesn't exist: "
    IDS_VSCODE_HELP_MSG         "creates or updates files used to build and debug a project using VS Code"
    IDS_OPTIONS_HELP_MSG        "displays a dialog allowing you to change options in .srcfiles.yaml"
    IDS_DIR_HELP_MSG            "(directory) -- uses specified directory to create .ninja files (default is bld/)"
    IDS_FORCE_HELP_MSG          "create .ninja file even if nothing has changed"
    IDS_VCXPROJ_HELP_MSG        "creates or updates files needed to build project using MS Visual Studio"
    IDS_CONVERT_HELP_MSG        "converts build script file (.e.g., file.vcxproj) to .srcfiles.yaml"
    IDS_CODECMD_HELP_MSG        "create code32.cmd and code64.cmd batch files"
    IDS_DISPLAY_HELP_MSG        "display this help message"
    IDS_MISSING_SRCFILES_IN     "Cannot read .srcfiles.yaml in "
    IDS_INVALID_BUILDLIB_SUFFIX " specified in BuildLibs: does not exist."
    IDS_LIB_SOURCE_DIR          "The library source directory "
    IDS_EXCEPTION_READING       "An exception occurred while reading "
    IDS_APP_CORRUPTED           "ttBld.exe is corrupted."
    IDS_MAKEFILE_NOT_CREATED    "Makefile not created."
    IDS_CANT_LOCATE_SRCFILES    "Cannot locate .srcfiles.yaml."
    IDS_ALREADY_ADDED_DIR       "You've already added the directory "
    IDS_TITLE_LIB_DIR           "Library directory"
    IDS_MISSING_PCH_CPP         " does not have a matching C++ source file -- precompiled header will fail without it!"
    IDS_OPTIONS_UPDATED         " Options: section updated."
    IDS_CANT_CREATE_VCX_GUID    "Unable to create a UUID -- cannot create .vcxproj without it."
    IDS_UPTODATE_SUFFIX         " is up to date"
    IDS_CANT_CONFIGURE_JSON     "Cannot locate a project file (typically .srcfiles.yaml) need to configure .vscode/*.json files."
    IDS_VSCODE_IGNORED          ".vscode/ added to "
    IDS_ASK_IGNORE_VSCODE       "The directory .vscode/ is not being ignored by git. Would you like it to be added to "
    IDS_CANT_CREATE_VSCODE_DIR  "Unable to create the required .vscode/ directory."
    IDS_MISSING_PROJ_NAME       "Project name not specified in "
    IDS_CANT_CREATE_VS_DIR      "Unable to create the required .vs/ directory."
    IDS_CREATED_SUFFIX          " created"
    IDS_CANT_CREATE             "Unable to create or write to "
    IDS_CANNOT_OPEN             "Cannot open "
    IDS_CONFIRM_REPLACE_SRCFILES ".srcfiles.yaml already exists in this directory. Are you sure you want to replace it?"
    IDS_PROJECT_FILES           "Project Files"
    IDS_FMT_FILES_LOCATED       "%kzd files located"
    IDS_UPDATED                 " updated."
    IDS_FILES                   " files"
    IDS_CREATED                 "Created "
    IDS_UP_TO_DATE              "All ninja scripts are up to date."
    IDS_OLD_TTBLD               "This version of ttBld is too old -- you need a newer version to correctly build the script files."
    IDS_CANT_FIND_SRCFILES      "ttBld was unable to locate a .srcfiles.yaml file -- either use the -new option, or set the location with -dir."
    IDS_ADDED_IGNORE_FILES      "Added directories and filenames to ignore to "
    IDS_CANNOT_OPEN_VIEW        "Cannot open %v"
END
