// ttlibicons.rc - ttLib standard icons

#include "ttlibicons.h"

#ifdef APSTUDIO_INVOKED
	#error this file is not editable by Microsoft Visual Studio
#endif // APSTUDIO_INVOKED

IDICON_TTLIB_CANCEL ICON "../ttLib/icons/cancel.ico"
IDICON_TTLIB_OK     ICON "../ttLib/icons/ok.ico"
